.App {
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background: #005a77;
  padding-top: 10px;
  padding-bottom: 10px;
}

.spotlight-content {
  position: relative;
  z-index: 50;
}

.homepage-header {
  background-image: url("images/header-image.jpg");
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  min-height: 60vh;
  padding: 2rem 0;
}

.homepage-header:before {
  height: 50;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(-45deg, #f3c342 35%, #016589 65%);
  opacity: 0.5;
}